<h1>Welcome to fx-you-might-like</h1>
<div class="app-container">
  <%= form_tag(exchange_rates_path, method: "get") do %>
    <div class="form-group">
      <%= label_tag 'date' %>
      <%= date_field_tag(:date, Date.today, { min: Date.new(2017, 1, 1) , max: Date.today, class: 'form-control ' }) %>
    </div>
    <div class="col">
      <%= label_tag 'amount' %>
      <%= number_field_tag 'amount', 1, class: 'form-control' %>
    </div>
    <div class="col">
      <div class="form-group">
        <%= label_tag 'from_currency', 'From:' %>
        <%= select_tag "from_currency", options_for_select(@currencies), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag 'to_currency', 'To:' %>
        <%= select_tag "to_currency", options_for_select(@currencies), class: 'form-control' %>
      </div>
    </div>
    <%= submit_tag "Convert" %>
  <% end %>
  <% if @converted_rate %>
    <p>
      <%= params[:amount] %>
      <%= params[:from_currency] %>
      to
      <%= params[:to_currency] %>
      on
      <%= @parsed_date.to_s %>
      was
      <b><%= @converted_rate %></b>
    </p>
  <% end %>
</div>
